<!-- Product Add Form -->
<div class="max-w-2xl mx-auto bg-white p-6 rounded-lg shadow-lg">
    <h2 class="text-2xl font-semibold text-center text-gray-700 mb-4">Add Product</h2>

    <div *ngIf="errorMessage" class="text-red-500 font-semibold mb-4">{{ errorMessage }}</div>

    <!-- Show Category from URL -->
    <div class="mt-4">
        <label class="block text-gray-600">Category</label>
        <input type="text" class="w-full border rounded-lg p-2 mt-1" [value]="category" disabled>
    </div>

    <div class="mt-4">
        <label class="block text-gray-600">Title</label>
        <input type="text" [(ngModel)]="title" class="w-full border rounded-lg p-2 mt-1" placeholder="Enter title">
    </div>
    <div class="mt-4">
        <label class="block text-gray-600">Model</label>
        <input type="text" [(ngModel)]="model" class="w-full border rounded-lg p-2 mt-1" placeholder="Enter model">
    </div>

    <div class="mt-4">
        <label class="block text-gray-600">Details</label>
        <textarea [(ngModel)]="details" class="w-full border rounded-lg p-2 mt-1"
            placeholder="Enter details"></textarea>
    </div>

    <div class="mt-4">
        <label class="block text-gray-600">Price</label>
        <input type="number" [(ngModel)]="price" class="w-full border rounded-lg p-2 mt-1" placeholder="Enter price">
    </div>

    <div class="mt-4">
        <label class="block text-gray-600">City</label>
        <select [(ngModel)]="city" name="city" required
            class="w-full border rounded-lg p-2 mt-1 focus:ring-2 focus:ring-blue-400 focus:outline-none">
            <option value="" disabled selected>Select a city</option>
            <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
        </select>
    </div>

    <div class="mt-4">
        <label class="block text-gray-600">Purchase Year</label>
        <input type="date" [(ngModel)]="purchaseYear" class="w-full border rounded-lg p-2 mt-1" [min]="minDate"
            [max]="maxDate">
    </div>



    <!-- Extra Fields Based on Category -->
    <div *ngIf="category === 'car' || category === 'bike'">
        <div class="mt-4">
            <label class="block text-gray-600">Type of Fuel</label>
            <select [(ngModel)]="fuelType" class="w-full border rounded-lg p-2 mt-1">
                <option value="">Select Fuel Type</option>
                <option>EV</option>
                <option>Petrol</option>
            </select>
        </div>

        <div class="mt-4">
            <label class="block text-gray-600">Kilometers Driven</label>
            <input type="number" [(ngModel)]="kilometersDriven" class="w-full border rounded-lg p-2 mt-1"
                placeholder="Enter kilometers driven">
        </div>

    </div>
    <div *ngIf="category === 'car' || category === 'bike' || category === 'mobile' || category === 'electronics'">
        <div class="mt-4">
            <label class="block text-gray-600">Brand</label>
            <input type="text" [(ngModel)]="brand" class="w-full border rounded-lg p-2 mt-1" placeholder="Enter Brand">
        </div>
    </div>

    <div *ngIf="category === 'car'">
        <div class="mt-4">
            <label class="block text-gray-600">Transmission Type</label>
            <input type="text" [(ngModel)]="transmissionType" class="w-full border rounded-lg p-2 mt-1"
                placeholder="Automatic / Own">
        </div>

        <div class="mt-4">
            <label class="block text-gray-600">Owner Count</label>
            <input type="number" [(ngModel)]="ownerCount" class="w-full border rounded-lg p-2 mt-1"
                placeholder="1">
        </div>
    </div>

    <div *ngIf="category === 'mobile'">
        <div class="mt-4"><label class="block text-gray-600">Type</label>
            <select [(ngModel)]="mobileType" class="w-full border rounded-lg p-2 mt-1">
                <option value="">Select Type</option>
                <option>Keypad Phone</option>
                <option>Touch Screen Phone</option>
                <option>Tablet</option>
            </select>
            <div class="mt-4">
                <label class="block text-gray-600">Operating System</label>
                <input type="text" [(ngModel)]="operatingSystem" class="w-full border rounded-lg p-2 mt-1"
                    placeholder="IOS/Android">
            </div>
            <div class="mt-4">
                <label class="block text-gray-600">Storage Capacity(In GB)</label>
                <input type="text" [(ngModel)]="storageCapacity" class="w-full border rounded-lg p-2 mt-1"
                    placeholder="32">
            </div>
            <div class="mt-4">
                <label class="block text-gray-600">Ram(In GB)</label>
                <input type="text" [(ngModel)]="ram" class="w-full border rounded-lg p-2 mt-1"
                    placeholder="4">
            </div>
        </div>

    </div>
    <div *ngIf="category === 'bike'" class="mt-4">
        <label class="block text-gray-600">Bike Type</label>
        <select [(ngModel)]="bikeType" class="w-full border rounded-lg p-2 mt-1">
            <option value="">Select Type</option>
            <option>Activa</option>
            <option>Scooter</option>
            <option>Bike</option>
        </select>
    </div>
    <div *ngIf="category === 'furniture'" class="mt-4">
        <label class="block text-gray-600">Furniture Type</label>
        <select [(ngModel)]="furnitureType" class="w-full border rounded-lg p-2 mt-1">
            <option value="">Select Type</option>
            <option>Wooden</option>
            <option>Matel</option>
            <option>Modular</option>
        </select>
    </div>
    <div *ngIf="category === 'electronics'" >
        <div class="mt-4">
            <label class="block text-gray-600">Electronics Type</label>
            <select [(ngModel)]="electronicType" class="w-full border rounded-lg p-2 mt-1">
                <option value="">Select Type</option>
                <option>Wooden</option>
                <option>Matel</option>
                <option>Modular</option>
            </select>
        </div>
        <div class="mt-4">
            <label class="block text-gray-600">Warenty Period</label>
            <input type="number" [(ngModel)]="warentyPeriod" class="w-full border rounded-lg p-2 mt-1"
                placeholder="1">
        </div>
    </div>

    <!-- Image Upload -->
    <div class="mt-4">
        <label class="block text-gray-600">Upload Images (Min 1 - Max 3, 2MB Each)</label>
        <input type="file" multiple (change)="onFileSelect($event)" class="w-full border rounded-lg p-2 mt-1">

        <p *ngIf="selectedFiles.length > 0" class="text-green-600">
            {{ selectedFiles.length }} file(s) selected.
        </p>
    </div>

    <!-- Submit Button -->
    <button (click)="onSubmit()"
        class="mt-6 w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600 transition">
        Submit
    </button>
</div>